<br>
<div class="clr-row">
  <div class="clr-col-md-10">
    <input type="text" class="el-input__inner" (keyup)="onKey($event)" [(ngModel)]="url" placeholder="https://example.com">
  </div>
  <div class="clr-col-md-2"><button class="btn btn-success"  [disabled]="isSave || url.length==0" (click)="onClickSave()">Save</button></div>
</div>

<div class="card-block">
  <div class="card-title">
    <span style="font-size: 0.6rem;"> URL: {{oldUrl}}</span>
    <br><br>
    <span style="font-size:1rem" (click)="onClickCopy()">SHORT URL: {{shortUrl}}</span> 
    <!-- <button  class="btn  btn-primary"(click)="onClickCopy()">Copy</button> -->
    <!-- <qrcode [qrdata]="url || 'https://example.com'" [width]="256" [errorCorrectionLevel]="'H'" [elementType]="'img'"></qrcode> -->
  </div>
</div>
