<div class="clr-row">
  <div class="clr-col-md-6 clr-offset-md-3">
    <div class="card">
      <div class="card-header">
        <clr-tabs>
          <clr-tab>
            <button clrTabLink>SHORT URL</button>
            <clr-tab-content *clrIfActive>
              <app-shorturl></app-shorturl>
              
            </clr-tab-content>
          </clr-tab>

          <clr-tab>
            <button clrTabLink>QRCode</button>
            <clr-tab-content *clrIfActive>
           <app-qrcode></app-qrcode>
            </clr-tab-content>
          </clr-tab>
          <clr-tab>
            <button clrTabLink>Upload Image</button>
            <clr-tab-content *clrIfActive>
              <app-upload-image></app-upload-image>
            </clr-tab-content>
          </clr-tab>


        </clr-tabs>
      </div>

    </div>
  </div>
</div>
